body {
}


.errormsg{
    color:red;
}


.table-hover thead tr:hover,.table-hover tbody tr:hover{
    background-color:darkorange;
}


.graph{
   width:90%;
   display:inline-block;
}

.graph-bar {
    margin: 5px;
    border: solid 2px;
    display: inline-block;
    height:40px;
}

.div-year span {
    position: relative;
    top: 40%;
    display: block;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
}

.div-year{
    height:300px;
    float:left;
    width:5%;
}

.graph-number {
    margin-top: 7px;
    float: right;
    display: none;
}

.graph-year{
    position:relative;
    bottom:20px;
    display:inline-block;
}

.customer-text {
    text-align: center;
}

